.button {
  background-color: white;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.25rem 0.25rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled,
.button:disabled:hover,
.button[disabled] {
  background-color: transparent;
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(249, 250, 251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.input {
  background-color: white;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}

.input:focus {
  outline: 1px solid gray;
  box-shadow: none;
}
