html, body {
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

.fullScreen{
    width: 100%;
    height: 100%;
    background-image: url('../assets/gameBackground.jpg');
    background-size: cover;
}

#playArea{
    margin: auto;
    overflow: hidden;
    width: 1280px;
    height: 720px;
    background-color: gray;
    position: relative;
    background: url('../assets/background.jpg');
    background-size: contain;
    border: 1px black solid;
    box-shadow: 5px 5px 20px black, inset 0px 0px 5px black;
    top: 20px;
}

.gameUnit{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    box-shadow: 0px 0px 12px black;    
    border-radius: 30px 30px 0px 0px;
}

#player{
    background-color: black;
    z-index: 10;
}

.enemy{
    background-color: red;
    z-index: 8;
}

.ally{
    background-color: white;
    z-index: 9;
}

.messageCenterContainer{
    width: 1280px;
    height: 100px;
    background-color: lightgray;
    margin: auto;
    margin-top: 50px;
    border: 2px gray solid;
    box-shadow: 5px 5px 20px black, inset 0px 0px 2px black;
    padding: 10px;
}

#messageCenter{
    overflow-y: scroll;
    height: 100%;
}

#messageCenter span {
    display:block;
}