html, body {
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

.fullScreen{
    width: 100%;
    height: 100%;
    background-image: url('../assets/gameBackground.jpg');
    background-size: cover;
}

#playArea{
    margin: auto;
    overflow: hidden;
    width: 1280px;
    height: 720px;
    background-color: gray;
    position: relative;
    background: url('../assets/background.jpg');
    background-size: contain;
    border: 1px black solid;
    box-shadow: 5px 5px 20px black, inset 0px 0px 5px black;
    top: 20px;
}

.gameUnit{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: 0px 0px 12px black;    
    border-radius: 30px 30px 0px 0px;
}

#player{
    background-color: black;
    z-index: 10;
}

.enemy{
    background-color: red;
    z-index: 8;
}

.ally{
    background-color: white;
    z-index: 9;
}

.isDead{
    opacity: .5;
    z-index: 1;
}

.messageCenterContainer{
    width: 1280px;
    height: 100px;
    background-color: lightgray;
    margin: auto;
    margin-top: 20px;
    border: 2px gray solid;
    box-shadow: 5px 5px 20px black, inset 0px 0px 2px black;
    padding: 10px;
}

.bottomBar{
    width: 1280px;
    margin: auto;
    margin-top: 35px;
    background-color: lightgray;
    border: 2px gray solid;
    box-shadow: 5px 5px 20px black, inset 0px 0px 2px black;
    padding: 5px;
}

.infoTile{
    display: inline-block;
    background-color: #5a6268;
    color: white;
    font-size: large;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px;
    font-weight: lighter;
    border: 1px solid lightgray;
    width: auto;
    white-space: nowrap;
}

#messageCenter{
    overflow-y: scroll;
    height: 100%;
}

#messageCenter span {
    display:block;
}