.fullscreen{
    height: 100vh;
    width: 100%;
    width: 100vw;
}

.bottomBar{
    width: 800px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 10px #888888;
}

.playArea{
    width: 100%;
    height: 100%;
}